<%= content_tag(:div,
                class: 'horizontal_navigation_bar',
                data: {widget: 'horizontal_navigation_bar'}) do %>

  <a class="menu_toggle button" id="navigation" title="Menü" tabindex="2"></a>

  <div class="bar">
    <%= horizontal_navigation_bar_logo_link(entry) %>
    <a class="parent_page button" title="Zurück" tabindex="2">Zurück</a>
    <div class="scroller">
      <ul class="pages">
        <div class="scroller_first"></div>
        <%= render(partial: 'pageflow/horizontal_navigation_bar/page',
                   collection: entry.pages.displayed_in_navigation) %>
        <div class="scroller_last"></div>
      </ul>
    </div>
  </div>

  <div class="menu_box">
    <div class="help" title="Hilfe" tabindex="2"></div>
    <%= horizontal_navigation_bar_logo_link(entry) %>
    <h1>#wowillstduhin</h1>
    <div class="menu_box_scroller">
      <div>
        <div class="button_area">
          <!--<a class="navigation_top" href="#">
            <p>Von vorne starten</p>
          </a> //-->
          <a href="http://reportage.wdr.de/wowillstduhin/" class="reload">
            <p>Von vorne starten</p>
          </a>
          <div class="share_box">
            <!--<%= render 'pageflow/entries/share_menu/facebook_link', entry: entry %>
            <%= render 'pageflow/entries/share_menu/twitter_link', entry: entry %>
            <%= render 'pageflow/entries/share_menu/google_link', entry: entry %> //-->
             <a class="share facebook" data-share-page="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwowillstduhin.wdr.de%3Fpage%3DpermaId" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwowillstduhin.wdr.de&amp;t=%23wowillstduhin" tabindex="2" target="_blank">

                <span class="hint">Auf Facebook teilen</span>
                <span class="share_facebook button"></span>
                <p>facebook</p>
            </a>
                        <a class="share twitter" data-share-page="http://twitter.com/home?status=http%3A%2F%2Fwowillstduhin.wdr.de%2Fwowillstduhin%3Fpage%3DpermaId" href="http://twitter.com/home?status=http%3A%2F%2Fwowillstduhin.wdr.de" tabindex="2" target="_blank">

                <span class="hint">Auf Twitter teilen</span>
                <span class="share_twitter button"></span>
                <p>twitter</p>
            </a>
                        <a class="share google" data-share-page="https://plus.google.com/share?url=http%3A%2F%2Fwowillstduhin.wdr.de%2Fwowillstduhin%3Fpage%3DpermaId" href="https://plus.google.com/share?url=http%3A%2F%2Fwowillstduhin.wdr.de" tabindex="2" target="_blank">

                <span class="hint">Auf Google+ teilen</span>
                <span class="share_google button"></span>
                <p>google</p>
            </a>
          </div>
        </div>

        <div class="imprint_box">
          <h2><%= t('.credits') %></h2>
          <% if entry.credits %>
            <p><%= raw entry.credits %></p>
          <% end -%>
          <%= entry_file_rights(entry) %>
          <%= entry_global_links(entry) %>
        </div>
      </div>
    </div>

    <div class="volume">
      <div class="volume-control">
        <div tabindex="0" class="player_volume_bar player_slider volume-slider">
          <div class="player_volume_level volume-level"></div>
          <div class="player_volume_handle player_slider_handle volume-handle"></div>
        </div>
      </div>
      <div class="player_mute volume-mute-button" tabindex="2"></div>
    </div>

    <div class="fullscreen" title="Vollbild" tabindex="2"></div>
  </div>
<% end %>
